.container {
    display: grid;
    grid-template-columns: repeat(var(--divisor), 1fr);
    grid-template-rows: repeat(var(--divisor), 1fr);
    width: 600px;
    height: 600px;
    margin: 50px 0;
    border: 2px solid #ccc;
  }
  
  .cell {
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  